
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Visual Studio/Code cache/options directory
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.code-workspace
*.sln

# Mac OSX indexer
.DS_Store

# Foreman local file
Profile.local

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Logs and temporary files
[Ll]og/
[Tt]mp/
[Tt]emp/
*.log
*.tmp
*.temp
